<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" .css />
    <script src="../guards/guardian.js"></script>
    <title>Home</title>
  </head>
  <body>
    <header>
      <nav id="desk-nav">
        <div class="logo">
          <img
            src="/img/Logo wine restaurant.svg"
            width="1103"
            height="266"
            alt="logo"
          />
        </div>
        <div>
          <div class="nav-links">
            <a href="#Home">Home</a>
            <a href="#Menu">Menu</a>
            <a href="#Services">Services</a>
            <a href="#Contact">Contact</a>
          </div>
        </div>
      </nav>
    </header>
    <div class="background-container">
      <div class="white-opacity">
        <main>
          <div class="primary-text">
            <section>
              <p>THE MOST EXCLUSIVE RESTAURANT</p>
            </section>
            <button class="button">Get in touch</button>
          </div>
        </main>
        <footer></footer>
      </div>
    </div>
  </body>
</html>
