<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css".css>
    <script src="../guards/guardian.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
</head>
<body>
    <main>
        
    </main>
    <div class="background-container">
        <div class="white-opacity">
            <header>
                <nav id="desk-nav">
                    <div class="logo">
                        <img src="/img/Logo wine restaurant.svg" width="1103" height="266" alt="logo">
                    </div>
                    <div>
                        <div class="nav-links">
                            <a href="#Home">Home</a>
                            <a href="/views/gallery.html">Menu</a>
                            <a href="#services_section">Services</a>
                            <a href="#Contact">Contact</a>
                        </div>
                    </div>
                </nav>
            </header>
            
                <section class="first_Sec">
                    <div class="primary-text">
                        <section>
                        <p>THE MOST EXCLUSIVE RESTAURANT</p>
                    </section>
                    <button class="button">Get in touch</button>
                </section>
                <section class="services_section">
                    <div class="p_container">
                        <p class="p_services">Nuestros Servicios</p>
                    </div>
                    <div class="services_container">
                        <div class="">
                            <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Exclusive reservation service.</h5>
                                <p class="font-normal text-gray-700 dark:text-gray-400">"Experience our exclusive reservation service, tailored to elevate your dining experience. Book now for personalized attention and seamless arrangements."</p>
                            </a>
                        </div>
                        <div>
                            <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Decoration for your special moments.</h5>
                                <p class="font-normal text-gray-700 dark:text-gray-400">Elevate your special occasions with our exquisite decorations. From intimate gatherings to grand celebrations, we add the perfect touch to make your moments unforgettable.</p>
                            </a>
                        </div>
                        <div>
                            <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Tables with unique views of the dam of the Chupamestepenco town.</h5>
                                <p class="font-normal text-gray-700 dark:text-gray-400">Tables with unparalleled views of Chupamestepenco town's dam await you. Immerse yourself in the beauty of the landscape as you dine with us. Experience dining with a view like no other.</p>
                            </a>
                        </div>
                        
                    </div>
                </section>
            </div>
            </main>
            <footer>
            </footer>
        </div>
    </div>
</body>
</html>