@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
}

:root{
    --black: #050A1C;
    --white: #fff;
    --beige: #FFFAF4;
    --clay: #BB2700;
}


html {
    scroll-behavior: smooth;
}
a,
.btn {
    transition: all 300ms ease;
}

/* BACKGROUND IMG */

.background-container {
    background-image: url('/img/pexels-valeria-boltneva-1484516.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
}
.background-container .white-opacity {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--beige);
    opacity: 80%;
}

/* DESK NAV */
nav,
.nav-links {
    font-family: 'Inter', sans-serif;
    display: flex;
    margin-bottom: -40px;
}
nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
.nav-links {
    gap: 1.5rem;
    list-style: none;
    font-size: 1.1rem;
    font-weight: 500;
}
a {
    color: var(--black);
    text-decoration: none;
    text-decoration-color: var(--white);
}
a:hover {
    color: var(--clay);
    text-decoration: none;
    text-decoration-color: var(--clay);
}
.logo {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100px;
    margin-bottom: -40px;
}
.logo:hover {
    cursor: default;
}

.primary-text{
    font-family: 'higuen-serif' , sans-serif;
    font-size: 30px;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}